{% extends "order_display/base.html" %}
{% block title %}Lista zamówień{% endblock %}

{% block content %}

  <h1>Lista Zamówień</h1>
  {% for order in orders %}

    <h2>

    {% comment %} <a href="{{ order.get_absolute_url }}"> {% endcomment %}

        {{ order.client }}
        <a href={{ order.get_absolute_url }}>{{order.slug}}</a>
      </a>

    </h2>

    <p class="date">

      Published {{ order.publish }}

    </p>
    {% for element in order.element.all %}
        {{element}}
    {% endfor %}

  {% endfor %}



{% endblock %}
